 <div ng-if="!vm.events.length">No hay eventos para mostrar</div>
<table  ng-if="vm.events.length" class="table table-hover">
		 <thead>
		    <tr>				   
		      <th colspan="2">IdEvento</th>
		      <th colspan="3">Timestamp</th>
		       <th colspan="3">Coordenadas</th>
		    </tr>
		  </thead>
		<tr>
		  <tbody dir-paginate="vehicleLocation in vm.events | filter:searchText | itemsPerPage: vm.pageSize" 
  		current-page="vm.currentPage">
		     <tr>
		      <th colspan="2">{{vehicleLocation.eventId}}</th>
		      <td colspan="3">{{ vehicleLocation.timestamp  | date : format : timezone}}</td>
		      <td colspan="3">
	      		{{vehicleLocation.position.coordinates}}
			  </td>
			  	
		    </tr>
		  </tbody>				  
		
</table>
 <div class="text-center">
		<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="bower_components/angularUtils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
</div> 