<div class="modal-header">
    <h3>{{'dbattribute.create' | translate}}</h3>
</div>

<form name="form.attributeForm" novalidate>
    <div class="modal-body">
    
    	<!-- NAME -->
        <div class="form-group">
            <label>{{'dbattribute.name' | translate}}</label>
            <input type="text" name="name" class="form-control" data-ng-model="name" required>
            <p data-ng-show="form.attributeForm.name.$error.required && !form.attributeForm.name.$pristine" class="avisoError">{{'dbattribute.nameRequired' | translate}}</p>
        </div>
       
  
  		<!-- TYPE -->
  		<div class="form-group">
  			<label>{{'dbattribute.type' | translate}}</label>
  			<select id="type" name="type" data-ng-model="type" class="form-control"
					data-ng-options="type as type for type in attributestypes" required>
			</select>
			<p data-ng-show="form.attributeForm.type.$error.required && !form.attributeForm.type.$pristine" class="avisoError">{{'dbattribute.typeRequired' | translate}}</p>
  		</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-ng-click="submitForm()"  data-ng-disabled="form.attributeForm.$invalid">{{'aceptar' | translate}}</button>
        <button class="btn btn-warning" data-ng-click="cancel()">{{'cancelar' | translate}}</button>
    </div>
</form>