<div data-ng-if="!vm.events.length">There are not events to show</div>
<div class="table-responsive">
	<table data-ng-if="vm.events.length" class="table table-hover"
			data-dt-options="vm.dtOptions" data-datatable="" >
		<thead>
			<tr>
				<th>UserId</th>
				<th>Date</th>
				<th>Time</th>
				<th>Value</th>
				<th>Speed</th>
				<th>Accuracy</th>
			</tr>
		</thead>

		<tbody>
			<tr data-ng-repeat="measurement in vm.events track by $index">
				<td>{{measurement.usuarioMovil.id}}</td>
				<td>{{measurement.timestamp | date : format:timezone}}</td>
				<td>{{measurement.timestamp| date :'shortTime'}}</td>
				<td>{{measurement.value}}</td>
				<td>{{measurement.speed}}</td>
				<td>{{measurement.accuracy}}</td>
			</tr>
		</tbody>

	</table>
</div>