<div data-ng-if="!vm.events.length">{{'measurement.noEvents' | translate}}</div>
<div class="table-responsive">
	<table data-ng-if="vm.events.length" class="table table-hover"
			data-dt-options="vm.dtOptions" data-datatable="" >
		<thead>
			<tr>
				<th>{{'measurement.userId' | translate}}</th>
				<th>{{'measurement.date' | translate}}</th>
				<th>{{'measurement.time' | translate}}</th>
				<th>{{'measurement.value' | translate}}</th>
				<th>{{'measurement.speed' | translate}}</th>
				<th>{{'measurement.accuracy' | translate}}</th>
			</tr>
		</thead>

		<tbody>
			<tr data-ng-repeat="measurement in vm.events track by $index">
				<td>{{measurement.usuarioMovil.id}}</td>
				<td>{{measurement.timestamp | date : format:timezone}}</td>
				<td>{{measurement.timestamp| date :'shortTime'}}</td>
				<td>{{measurement.value}}</td>
				<td>{{measurement.speed}}</td>
				<td>{{measurement.accuracy}}</td>
			</tr>
		</tbody>

	</table>
</div>