<h1 id="breadcrumbs" class="page-header">{{'user.completarRegistro' | translate}}</h1>

<div class="row">
	<div class="col-lg-9">
		<div class="pull-center">
			<div class="btn btn-default" data-ng-click="vm.activarCuenta()">{{'user.activarCuenta'| translate}}</div>
		</div>
	</div>
</div>
<p></p>
<div class="row">
	<div class="col-lg-9">
		<div data-ng-if="vm.infoCuenta" class="pull-center alert alert-info"
			data-role="alert">
			{{vm.infoCuenta.value}}
			<div class="pull-center">
				<div class="btn btn-default" data-ui-sref="login">{{'entrar' |translate}}
				</div>
			</div>
		</div>
	</div>
</div>
