<h1 class="col-md-12" id="breadcrumbs" class="page-header"> {{'user.cambiarContrasena' | translate}} </h1>

<form name="changePasswordForm" class="col-md-4" data-role="form" data-ng-submit="vm.change()">
	
	<fieldset  class="form-group">
		<label for="passwordOld">{{'user.viejaContrasena' | translate}}</label> <input type="password"
			class="form-control" id="passwordOld" name="passwordOld" data-ng-model="vm.passwordOld" required/>
	</fieldset >
	
	<fieldset  class="form-group">
		<label for="passwordNew1">{{'user.nuevaContrasena' | translate}}</label> <input type="password"
			class="form-control" id="passwordNew1" name="passwordNew1" data-ng-model="vm.passwordNew1" required/>
	</fieldset >
	
	<fieldset  class="form-group">
		<label for="passwordNew2">{{'user.repetirContrasena' | translate}}</label> <input type="password"
			class="form-control" id="passwordNew2" name="passwordNew2" data-ng-model="vm.passwordNew2" required/>
	</fieldset >

	<fieldset  class="form-group">
		<button type="submit" class="btn btn-primary">{{'user.cambiar' | translate}}</button>
	</fieldset >
	
	<fieldset  class="form-group">
		<div data-ng-if="vm.infoChange" data-ng-class="{'alert alert-info' : vm.infoChange.type === 'info', 'alert alert-danger' : vm.infoChange.type === 'error'}" data-role="alert">{{vm.infoChange.value}}</div>
	</fieldset >
		
</form>