<h1  class="col-md-12" id="breadcrumbs" class="page-header"> {{'user.editar' | translate}} </h1>
<form  class="col-md-4" data-role="form" data-ng-submit="vm.edit()">
	<div class="form-group">
		<label for="username">{{'user.email' | translate}}</label> {{vm.usuario.email}}
	</div>
	<div class="form-group">
		<label for="username">{{'user.rol' | translate}}</label> {{vm.usuario.rol}}
	</div>
	
	<div class="form-group">
		<label for="password">{{'user.contrasena' | translate}}</label> <input type="password"
			class="form-control" id="password" name="password" data-ng-model="vm.password"/>
	</div>

	<div class="form-group">		
		<label for="singleSelect">{{'user.usuario' | translate}}</label><br />
		<!-- Filtro usuarios  -->
		<select id="selectUsers" data-ng-model="vm.usuarioSelected" class="form-control"
			data-ng-change="changedValue(vm.usuarioSelected)" 
			data-ng-options="usuario as usuario.sourceId for usuario in vm.usuariosMoviles">
			<option value="">{{'user.todos' | translate}}</option>
		</select>
	</div>
	
	<div class="form-group">
		<button type="submit" class="btn btn-primary">{{'editar' | translate}}</button> 
		<button data-ui-sref="userManager" class="btn btn-primary">{{'volver' | translate}}</button>
	</div>
	
	
	<div class="form-group">
		<div data-ng-if="vm.infoCuenta" class="pull-center alert alert-info" data-role="alert">{{vm.infoCuenta.value}}</div>
	</div>
	
</form>