<h1 id="breadcrumbs" class="page-header"> Registro </h1>

<form role="form" ng-submit="vm.register()">
	<div class="form-group">
		<label for="username">Email:</label> <input type="text"
			class="form-control" id="email" name="email" ng-model="vm.email"/>
	</div>
	<div class="form-group">
		<label for="password">Password:</label> <input type="password"
			class="form-control" id="password" name="password" ng-model="vm.password"/>
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-primary">Registrar</button>
	</div>
	
	<div class="form-group">
		<div ng-if="vm.infoCuenta" class="alert alert-info" role="alert">{{vm.infoCuenta.value}}</div>
	</div>
		
</form>