<h1 class="col-md-12" id="breadcrumbs" class="page-header"> Registro </h1>

<form name="registerForm" class="col-md-4" role="form" ng-submit="vm.register()">
	<fieldset  class="form-group">
		<label for="username">Email:</label> <input type="email"
			class="form-control"  id="email" name="email" ng-model="vm.email" required/>
	</fieldset >
	
<!-- 	<div  ng-show="{{registerForm.email.$valid}} == false" class="alert alert-danger form-group"> -->
<!-- 		Formato email erróneo -->
<!-- 	</div> -->
	
	<fieldset  class="form-group">
		<label for="password">Password:</label> <input type="password"
			class="form-control" id="password" name="password" ng-model="vm.password"/>
	</fieldset >

	<fieldset  class="form-group">
		<button type="submit" class="btn btn-primary">Registrar</button>
	</fieldset >
	
	<fieldset  class="form-group">
		<div ng-if="vm.infoCuenta" class="alert alert-info" role="alert">{{vm.infoCuenta.value}}</div>
	</fieldset >
		
</form>