<div data-ng-if="!vm.users.length">{{'user.noUsuariosRegistrados' | translate}}</div>
<table data-ng-if="vm.users.length" class="table table-hover">
		 <thead>
		    <tr>				   
		      <th colspan="8">{{'user.email' | translate}}</th>
		      <th colspan="2">{{'user.movil' | translate}}</th>
		      <th colspan="2">{{'user.acciones' | translate}}</th>
		    </tr>
		  </thead>
		<tr>
	
		  <tbody data-dir-paginate="user in vm.users | orderBy:'email' | filter:vm.searchText | itemsPerPage: vm.pageSize " 
		  		data-current-page="vm.currentPage">
		     <tr>
		      <th colspan="8">{{user.email}}</th>
		      <td colspan="2">{{user.usuarioMovil.id}}</td>
		      <td colspan="2">
	      		<div class="glyphicon glyphicon-pencil icono-boton" data-ui-sref="editUser({idUser: user.id})" title="{{'user.editarUsuario' | translate}}"></div>
			 	<div class="glyphicon glyphicon-trash icono-boton" data-ng-click="vm.deleteUser(user)" title="{{'user.eliminarUsuario' | translate}}"></div>
			  </td>
		    </tr>
		  </tbody>				  
		
</table>
