<div data-ng-if="!vm.users.length">{{'user.noUsuariosRegistrados' | translate}}</div>

<div class="table-responsive">
	<table data-ng-if="vm.users.length" class="table table-hover"
		data-dt-options="vm.dtOptions" data-datatable="">

		<thead>
			<tr>
				<th style="width:60px;">{{'user.email' | translate}}</th>
				<th style="width:20px;">{{'user.movil' | translate}}</th>
				<th style="width:20px;">{{'user.acciones' | translate}}</th>
			</tr>
		</thead>

		<tbody>
			<tr data-ng-repeat="user in vm.users track by $index">
				<th style="width:60px;">{{user.email}}</th>
				<td style="width:20px;">{{user.usuarioMovil.id}}</td>
				<td style="width:20px;">
					<div class="glyphicon glyphicon-pencil icono-boton"
						data-ui-sref="editUser({idUser: user.id})"
						title="{{'user.editarUsuario' | translate}}"></div>
					<div class="glyphicon glyphicon-trash icono-boton"
						data-ng-click="vm.deleteUser(user)"
						title="{{'user.eliminarUsuario' | translate}}"></div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
