.radioButtonSeparado {
	margin-left:10px !important;
}

.existeComentarioButton {
	color: #3c763d;
}

.glyphiconComentario {
	font-size:16px;
}

#comentarioRegistroWc {
	width: 985px;
}

#comentarioRegistroComida {
	margin-top:20px;
	width: 965px;
}

#comentarioRegistroMedicacion {
	margin-top:20px;
	width: 1180px;
}


/* Estilos para mostrar un calendario con solo los días del mes, sin la posibilidad de cambiar de mes o año */

.calendarioSoloDiasMes .dropdown-menu table tr:first-child th:first-child {
	display:none;
}
.calendarioSoloDiasMes .dropdown-menu table tr:first-child th button {
	width: 141% !important;
	cursor:default;
	pointer-events: none;
}

 .calendarioSoloDiasMes .dropdown-menu table tr:first-child th:last-child {
	display:none;
}



