@import url("pestanas.css");
@import url("tablas.css");
@import url("../jquery-ui.min.css");
@import url("formularios.css");
@import url("paxinacion.css");
@import url("mensaxesPendentes.css");
/* Prueba para leaft */
@import url("../leaflet.css");

/* Reset */
html {
	color: #000;
	background: #FFF;
}

body,div,dl,dt,dd,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td
	{
	margin: 0;
	padding: 0;
}

div.loginForm form{
	margin: 0 auto;
	width: 50%;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}

li , .claseLigazon {
	list-style: none;
}

.claseLigazon{
  text-decoration: underline;
  cursor: pointer;
}

caption,th {
	text-align: left;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before,q:after {
	content: '';
}

abbr,acronym {
	border: 0;
	font-variant: normal;
}

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

.enlace {
	cursor: pointer;
}

/* Estilos */

/* Xeral */
* {
	color: #333;
}

html {
	font-family: Arial, sans-serif;
	font-size: 13px;
}

html,body {
	height: 100%;
}

#wrapper {
	background-color: #F9F9F9;
	height: auto;
	min-height: 100%;
	min-width: 1000px;
}

#cabeceira {
	background-color: #D9D9D9;
	border-bottom: 1px solid silver;
	padding: 15px;
	overflow: hidden;
	box-shadow: 0 0 7px black;
	-webkit-box-shadow: 0 0 7px black;
	text-align: center;
	position: relative;
}

#cabeceira .titulo {
	float: left;
}

#cabeceira .sair {
	position: absolute;
	top: 10px;
	right: 10px;
}

#contido {
	min-height: 200px;
	padding: 20px;
	width: 960px;
}

#contido h2 {
	display: none;
}

#contido h2.visible {
	display: block;
}

#pe {
	height: 20px;
	margin-top: -20px;
	clear: both;
}

#menu {
	border: 1px solid silver;
	border-top: none;
}

#menu ul {
	background-color: #F1F1F1;
	overflow: hidden;
}

#menu ul li {
	float: left;
	padding: 0px;
}

#menu ul li.entradaActiva {
	background-color: #E5E5E5;
	font-weight: bold;
}

#menu ul li a {
	font-size: 11pt;
	display: block;
	text-decoration: none;
	padding: 10px;
}

h2.titulo {
	font-size: 18px;
	font-style: italic;
	margin-bottom: 8px;
}

h3 strong {
	font-weight: bold;
}

ol.submenu {
	margin-bottom: 15px;
}

ol.submenu li  {
	display: inline;
}

ol.submenu li.activo a,ol.submenu li.activo span {
	font-weight: bold;
	text-decoration: none;
}

pre.codigo {
	margin-right: 30px;
	padding: 10px !important;
	overflow: auto;
}

.textsc20 {
	font-variant: small-caps;
	font-size: 20px;
	font-weight: bold;
}

.text16 {
	font-size: 16px;
}

.clear {
	clear: both;
}

/* Formularios */

form td{
	padding-top: 10px;
}

form .error {
	margin: 2px 0 0 2px;
	display: block;
	color: darkred;
	font-style: italic;
}

fieldset {
	padding: 10px;
  	background-color: #f9f9f9;
    margin-top: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;    
}

fieldset.nonHai{
	 background-color: #f1f1f1;
}

/*cambiado polo boton buscar elemsMultimedia*/
 div.botons{
	margin-top: 15px;
	margin-left: 5px;
}

/*listado entidades*/
td.enum, th.enum{
	width:100px;
}

 td.data, th.data{
	width:90px;
}

 td.dataLonga, th.dataLonga{
	width:180px;
}
/* CKeditor */
.cke_top {
	background-color: #EAEAEA !important;
}

.iconoXerarEpub{
  margin-left: 0px;
  width: 16px;
}

span > a.iconoAccions, span > a.iconoXerarEpub{
	text-decoration: none;
}

/* TODO Estilos copiados de prueba */

fieldset.sinBorde {
	border: medium none;
}

fieldset.bloque{
	padding: 2px 10px;
	margin-bottom: 20px;
}
fieldset.bloque fieldset.bloque{
	margin: 0px 0px 10px 0px;	
	padding: 0 10px 10px;
}

fieldset.bloqueMapa{
	background-color: #ffffff;	
	border: medium none;  	
	margin: 5px 0px;
	padding: 0px;
}

fieldset.bloqueComun{
	background-color: #FFE58E;
    border: 1px solid #9C1F2F;
    padding: 0;
    margin-bottom: 10px;
}

fieldset.bloqueComun table td{
	vertical-align: middle;
}
fieldset.bloqueComun div.campoFicha div.etiqueta{
	color: #9c1f2f;
}

fieldset.bloqueComun div.campoFicha div.valor{
	font-weight: bold;
	color: #00679e;
}

.negrita{
	font-weight: bold;
}

/* CAMPO FICHA */
div.campoFicha {
    margin: 2px 3px;
    padding: 1px;	
}

div.campoFicha div.etiqueta, legend.etiqueta{
	color: #A3A5A7;
	 font-size: smaller;
}

div.campoFicha div.etiquetaEsquerda{
	float:left;
	padding-right: 10px;
}

div.campoFichaIzquierda div.etiqueta {
	float:left;
}

div.campoFicha div.valor{
	padding-left: 5px;
	text-align: justify;	
}

div.campoFicha div.valorFrancesa{
	text-indent:-8px;
	margin-left: 10px;
}

div.campoFicha div.nombreUsuario{
	font-size: 1em;
}

div.etiquetaCategoria{
	font-weight: bold;
	margin-top: 10px;
}
div.etiquetaSubcategoria{
	margin-top: 5px;
	margin-left: 3px;
}


div.botonMini button, div.botonMini a.button{
	font-size: 0.9em;
	padding: 2px 6px;
	margin-top: 10px;
}
/* Páginas con listado y mapa */

div.acciones {
    margin-right: 15px;
    margin-bottom: 5px;
    text-align: right;
    padding: 0.3em 0em;    
}

div.accionesFloat {
text-align: right;
margin-top: 3px;
margin-bottom: 15px;
float: right;
}
div.columnasListadoMapa{
	margin-top: 5px;
}

a.enlaceAniadir img{
	margin-left: 2px;
	vertical-align: top;
}

div.listadoServiciosFactura{
	margin-top: 20px;
}

/* avisos - eleminar seleccionados */

.botonSeleccionados{
	  padding-left: 5px;
}
/* Estilos para formularios de búsqueda */
div.condicion div.entrada, div.condicion div.acciones{
	margin-top: 0px;
	margin-bottom: 0px;
}
.conectorCondiciones {
    font-size: 1.1em;
    margin-left: 20px;
    font-weight: bold;
}
#busquedaContenido fieldset{
	border: medium none;
}

#busquedaContenido div.grupo fieldset.bloque{
	background: none repeat scroll 0 0 #efefef;
    border: 1px solid #a5c8ee;
    padding-bottom: 20px;
}
#busquedaContenido div.condicion fieldset{
	border: 1px solid #A5C8EE;
}
fieldset#cajaBusqueda{
	border:1px solid #B8CFE6;	
	background-color:#F5FAFF;
}

fieldset#cajaBusqueda legend.titulo{
	border:1px solid #B8CFE6;	
	background-color:#F5FAFF;
	border-radius:5px;
	font-weight: normal;
}

fieldset#cajaBusqueda fieldset.bloque fieldset legend{
	background-color: #F9F9F9;
}
	
fieldset#cajaBusqueda .leyendaAbreviaturas{
  background-color: #F9F9F9;
  text-align: right;
}

fieldset#cajaBusqueda .leyendaAbreviaturas .tituloLeyenda{
  font-weight: normal;
}
	
fieldset#camposVisibles{
	border:1px solid #E6E6B8;	
	background-color:#FFFFE6;
}

fieldset#camposVisibles legend.titulo{
	border:1px solid #E6E6B8;	
	background-color:#FFFFE6;
	border-radius:5px;
	font-weight: normal;
}

fieldset#camposOrdenacion{
	border:1px solid #E6DFD9;	
	background-color:#FFF0E6;
}

fieldset#camposOrdenacion legend.titulo{
	border:1px solid #E6DFD9;	
	background-color:#FFF0E6;
	border-radius:5px;
	font-weight: normal;
}

.ui-autocomplete {
    max-width: 260px;
    max-height: 200px;
    overflow-y: scroll;
 }
 
 /* Estilos para as táboas da aplicación*/

/* Taboa de tramos */
table.tramos td {
	vertical-align: top;
	padding-left: 9px;
	padding-top: 6px;
	padding-bottom: 9px;
}


table.horizontal th{
	text-align: right;
}

table {
	border: 1px solid #A5C8EE;
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

td.celda, td.celda div, td.celda div.campoFicha div.valor{
	text-align: center;
}

table.auxiliares, table.personas {
	table-layout: auto;
}

table thead th, table tr.cabecera th{
	padding: 2px 0px;
}

table tr.borde th{
	border: 1px solid #A5C8EE;
}

.infoRejillaHoras{
	margin-top: 5px; 
	font-size: 11px;
}

th {
	background-color: #82AEDC;
	color: white;
}

th.acciones{
	width: 55px;
}

th a.Ascendente, th a.Descendente{
	text-decoration:none;
}

th.fecha,td.fecha{
	width: 80px;
}

th.check,td.check{
	width: 90px;
}

th.checkCorto,td.checkCorto{
	width: 75px;
}
th.num, td.num{
	width: 90px;
}

th.numCorto, td.numCorto{
	width: 70px;
}

th.enum, td.enum{
	width: 150px;
}

th.enumLarga{
	width: 220px;
}

td {
	border: 1px solid silver;
}

td.icono {
	text-align: center;
}

td.numero, th.numero {
	text-align: right;
	padding-right: 5px;
}
td.categoriaver{
	text-align: right;
}

td.categoriaver a{
	text-decoration: none;
}

/* Taboas alternable */

fieldset table.alternable {
	margin: 10px;
	width: 98%;
}

.botonCambiarFormulario{
	background-color: #EAE8E3;
    border-radius: 11px 11px 11px 11px;
    -moz-border-radius: 11px 11px 11px 11px;
    border: 1px solid silver;
    cursor: pointer;
    font-size: 11px !important;
    line-height: 13px;
    margin-right: 5px;
    padding: 3px 8px;
    text-decoration: none;
}
