/*Estilos táboas de formularios */


table.layout {
	border-collapse: collapse;
	table-layout: fixed;
	border: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

table.layout td {
	border: none;
	background-color: inherit;
	vertical-align: top;
}


#engadirObras, #engadirOrganismos, #engadirMovementos, #engadirEventos{
	vertical-align: top;
}

#engadirObras ul, #engadirOrganismos ul, #engadirMovementos ul, #engadirEventos ul,
#engadirObras ol, #engadirOrganismos ol, #engadirMovementos ol, #engadirEventos ol{
	padding-left: 0px;
}

ul.listaElementos li{
	padding-left: 0px;
	list-style-type: square;
}


ul.listaElementos span{
	display: inline-block;
	width: 290px;
}

fieldset.interior {
    margin-right: 5px;
    height: 100%;
    border-top: 1px solid #d9d9d9;
    border-style: solid none none;
}


table.layout td  span.check{
	vertical-align: middle;
}

table.layout td  div.elemBloqueado{
	padding-top: 20px;
}

table.layout td  div.data{
	float:left;
	display:block;
	margin-right: 40px;
}
table.layout td  div.dataElemMultimedia{
	float:left;
	display:block;
	margin-right: 5px;
}
table.layout td  div.errosData{
	display:block;
	margin-right: 5px;
}
table.layout td  div.etiquetaVideo{
	float:left;
	display:block;
	margin-left: 100px;
	margin-right: 0px;
}

table.layout td  div.duracionVideo{
	float:right;
	display:block;
	margin-right: 4px;

}
/* Estilos galería multimedia */
.contedorFoto{
    border: 1px solid silver;
    float: left;
    height: 195px;
    margin: 2px;
    overflow: hidden;
    width: 170px;
}
.foto {
    display: table;
    text-align: center;
    vertical-align: middle;
    width: 170px;
    height: 170px;
}
.imaxeFoto{
	display:table-cell; 
	vertical-align: middle;
}
.foto .imaxeFoto img{
	max-height: 150px;	
	max-width: 150px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,img {
	border: 0;
}

input[disabled=disabled][type=submit] {
	color: #A9A5A2;
}

input,textarea,select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

input,textarea,select { 
	font-size: 100%;
 	border: 1px solid silver;	
}

legend {
	color: #000;
}

header,nav,footer,section {
	display: block;
}

fieldset legend {
	color: #333;
	font-weight: bold;
}

fieldset.caixa ol {
	float: left;
}

fieldset ol.col2 {
	margin-left: 20px;
}

fieldset ol li {
	margin-bottom: 10px;
}

fieldset ol li label, form label {
	display: block;
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
	margin: 3px 0;
}

fieldset ol li label.inline, form label.inline {
	display: inline;
	margin-right: 10px;
}

fieldset ol li label.mr15 {
	margin-right: 15px;
}

fieldset ol li span.req {
	margin-left: 2px;
}

fieldset ol li.inline label, form .inline label {
	display: inline;
}

fieldset ol li input,fieldset ol li textarea, form input, form textarea {
	border: 1px solid silver;
	padding: 3px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

fieldset ol li input.largo, fieldset ul li input.largo {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

fieldset ol li input:focus,fieldset ol li textarea:focus {
	outline: none;
}

fieldset ol li textarea {
	resize: none;
}

fieldset ol li .radioButton {
	vertical-align: middle;
	margin-right: 3px;
}

fieldset ol li .checkbox {
	vertical-align: middle;
	margin-right: 3px;
}

fieldset ol li select.multiple {
	background-color: white;
	border: 1px solid silver;
}

fieldset ol li.separador span {
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
}

fieldset ol li.separador hr {
	border: none;
	height: 1px;
	margin-top: 3px;
	background-color: silver;
	color: silver;
}

fieldset ul.listaElementos {
	margin: 5px 0;
	padding: 2px;
}

fieldset ul.listaElementos img{
	height: 50px;
    width: auto;
}

li.ui-menu-item img{
	width: 30px;
	height: auto;
	margin-right: 10px;	
}

.ui-front {
	z-index: 100000;	
}
 
fieldset ul.listaElementos:empty {
	margin: 0;
	padding: 0;
}

fieldset ul.listaElementos li {
  border-bottom: 1px dotted #d4d4d4;
    font-weight: bold;
    list-style-position: inside;
    margin: 0 0 5px 5px;
}

ol #fotos  li a,
ul #fotos  li a{
   display: inline-block;
    margin-right: 10px;
    max-height: 50px;
    overflow: hidden;
    text-align: center;
    width: 50px;
  	border-color: 1px solid #c3c3c3;    
}

ol #videos  li a,
ul #videos  li a{
   display: inline-block;
    margin-right: 10px;
    max-height: 50px;
    overflow: hidden;
    text-align: center;
    width: 50px;
  	border-color: 1px solid #c3c3c3;    
}

fieldset ul#fotos span, fieldset ul#videos span{
	width: 100px;
}

fieldset ul#audios span{
	max-width: 180px;
}

#fieldsetFotosApartado ul#fotos span{
	width: 300px;
}


fieldset ul#fotos span.eliminar, fieldset ul#videos span.eliminar {
   margin-top: 35px;
}

fieldset ul.listaElementos span.eliminar {
	cursor: pointer;
	margin-left: 5px;
	font-style: italic;
	font-size: 10px;
	text-decoration: underline;
	float: right;
	width: 40px;
}

fieldset .cancelable {
	clear: both;
	overflow: hidden;
	position: relative;
}

fieldset .cancelable input {
	border-right: none;
	width: 100%;
}

fieldset .cancelable .caixa {
	border: 1px solid silver;
	border-left: none;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 21px;
}

fieldset .cancelable .caixa .icona {
	cursor: pointer;
	background: white url("../../imaxes/citydriver/eliminar.png") no-repeat
		scroll center;
	height: 100%;
	width: 21px;
	display: none;
}

fieldset .imaxesEnotas{
	top: 5px;
	bottom:5px;
	right: 5px;
	width: 21px;
}

form.cambiarActivo fieldset {
	padding: 0;
	text-align: center;
}

form.cambiarActivo fieldset input {
	vertical-align: middle;
}

form img.fotoForm {
	max-height: 80px;	
}

.botons {
	margin-top: 5px;
	margin-bottom: 10px;
    clear: both;
    padding-top: 10px;
    text-align: center;

}

.botons input, .botonArrancarParar {
	background-color: #EAE8E3;
	border-radius: 11px 11px 11px 11px;
	-moz-border-radius: 11px 11px 11px 11px;
	border: 1px solid silver;
	cursor: pointer;
	font-size: 11px !important;
	line-height: 13px;
	margin-right: 5px;
	padding: 3px 8px;
	text-decoration: none;
}

fieldset.paxinaInicio {
	width:60%;
}

fieldset.caixa {
	border: 1px solid silver;
	padding: 0 15px;
	padding-top: 12px;
	padding-bottom: 16px;
}

fieldset.caixa ol {
	width: 100%;
}

fieldset.caixa select.multiple {
	width: 100%;
}

fieldset#caixa_obras span.explicacion {
	display: block;
	font-style: italic;
	margin-bottom: 15px;
	margin-top: 5px;
}

/* Autocomplete */

.ui-helper-hidden-accessible { display:none; }

.ui-autocomplete-loading {
    background: white url("../../imaxes/iconos/ui-anim_basic_16x16.gif") right center no-repeat;
  }
.ui-autocomplete {
	cursor: default;
	position: absolute;
	z-index: 100000;
}

.ui-menu {
	background-color: white;
	border: 1px solid silver;
	padding: 6px;
	-moz-border-radius: 4px 4px 4px 4px;
}

.ui-menu-item a {
	cursor: pointer;
	display: block;
	padding: 6px;
}

.ui-state-hover {
	background: #DEDEDE;
}

#nonHaiFragmentos{
	display: none;
}