.paxinacion{
	clear: both;
	padding: 5px 0px 5px 0px;
}
	
.numeroResultados{
	text-align: left;
	float:left;
}

.numerosPaxina{
	float: right;
	text-align :right;
	/*width: 140px;*/
	padding-bottom: 8px;
}

.numerosPaxina .paxinaActual{
    font-weight:bold;
}

.imaxePrevious{
	display: inline-block;
	float: left; 
	width: 17px;
	text-align: left;
}

.paxinaIconoVacio{
	display: inline-block; 
	float: left; 
	width: 17px;
}

.selectPaxina{
	display: inline-block; 
	float: left;  
}

.selectPaxina > select {
	min-width: 41px;
}

.imaxeNext{
	display: inline-block; 
	float: left; 
	width: 17px;
	margin-top: 0.5px;
}

.bloqueAnteriorPaxinaSeguinte{
	/*width: 85px;*/
	float: left; 
	display: block; 
}