	<div class="row">
		<div class="cabecera col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-12">
							<strong>Event Manager:</strong><span class="pull-right">{{vm.active.value}}</span>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<strong>Events today:</strong><span class="pull-right">{{vm.eventsToday.valueL}}</span>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<strong>Last event:</strong>
							<span class="pull-right">{{vm.eventoProcesado.timestamp | date : 'dd/MM/yyyy HH:mm'}}</span>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<span style="color: #337AB7;" class="pull-left">View Details</span> <span class="pull-right"><i class="fa"> <!--  -->
					</i></span>
					<div class="clearfix">
					</div>
				</div>
			</div>
		</div>
		<div class="cabecera col-md-3">
			<div class="panel panel-green">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-12">
							<strong>Total users: </strong>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<strong>Active users: </strong>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<strong>Last user:</strong>
						</div>
					</div>
				</div>
				<div>
					<div class="panel-footer">
						<span class="pull-left">View Details</span> <span class="pull-right"><i class="fa"> <!--  -->
						</i></span>
						<div class="clearfix">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cabecera col-md-3">
			<div class="panel panel-yellow">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-12">
							<strong>Locations:</strong><span class="pull-right">{{vm.totalL.valueL}}</span>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<strong>Measurements:</strong><span class="pull-right">{{vm.totalM.valueL}}</span>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<strong>Data sections:</strong> <span class="pull-right">{{vm.totalDS.valueL}}</span>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<strong>Driver features:</strong> <span class="pull-right">{{vm.totalDF.valueL}}</span>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<span class="pull-left">View Details</span> <span class="pull-right"><i class="fa"> <!--  -->
					</i></span>
					<div class="clearfix">
					</div>
				</div>
			</div>
		</div>
		<div class="cabecera col-md-3">
			<div class="panel panel-red">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-12">
							<strong>Future: </strong>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<strong>Future: </strong>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<strong>Future: </strong>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<span class="pull-left">View Details</span> <span class="pull-right"><i class="fa"> <!--  -->
					</i></span>
					<div class="clearfix">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-9">
			<div>
				<li class="pestanas pestanasFormulario">
					<ol class="pestanas selectoresFormulario">
						<li  ng-click="vm.mostrarMapa()"  ng-class="{ 'activa':  vm.showMap }" class="pestanas selector">Mapa</li>
						<li ng-click="vm.mostrarTabla()"  ng-class="{ 'activa':  vm.showTab }" class="pestanas selector" id="selectorF">Tabla</li>
					</ol>
					<ol class="pestanas fichas">
						<div ng-show="vm.showMap" class="pestanas ficha">
							<div id="map">
							</div>
						</div>
						<div ng-show="vm.showTab" class="pestanas ficha" id="pestanaF">
								<div ng-show="vm.eventTypeSelected == 'VEHICLE_LOCATION'">
									<div ng-include="'./partials/vehicleLocation/vehicleLocationListar.html'"></div>
								</div>
								<div ng-show="vm.eventTypeSelected == 'DATA_SECTION'">
								<div ng-include="'./partials/dataSection/dataSectionListar.html'"></div>
								</div>
								<div ng-show="((vm.eventTypeSelected == 'HIGH_SPEED') || (vm.eventTypeSelected == 'HIGH_SPEED') || 
						     				(vm.eventTypeSelected == 'HIGH_DECELERATION') || (vm.eventTypeSelected == 'HIGH_HEART_RATE'))">
									<div ng-include="'./partials/measurement/measurementListar.html'"></div>
								</div>
							
							
						</div>
					</ol>
				</li>
			</div>
		</div>
			<div class="cabeceraFiltro col-md-3">
			 <div class="slide-animate" ng-include="'./partials/filtros.html'"></div>
    	 </div>   
		</div>
		
	</div>