<div class="row">
	<div class="cabecera col-md-3">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div data-ng-if="hasRole('ROLE_ADMIN')" class="col-xs-12">
						<strong>{{'estadisticas.eventManager' | translate}}</strong><span class="pull-right">{{vm.active.value}}</span>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<strong>{{'estadisticas.eventsToday' | translate}}</strong><span class="pull-right">{{vm.eventsToday.valueL}}</span>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<strong>{{'estadisticas.lastEvent' | translate}}</strong> <span class="pull-right">{{vm.eventoProcesado.timestamp
							| date : 'dd/MM/yyyy HH:mm'}}</span>
					</div>
				</div>
			</div>
			<div>
				<div class="panel-footer">

					<div data-ng-show="vm.active.value == 'Stopped'" class="panel panel-primary">
						<a data-ng-click="vm.arrancar()">
							<div class="panel-footer">
								<span class="pull-left"></span>
								<span class="pull-right">
									<i class="fa fa-arrow-circle-right"> {{'estadisticas.iniciar' | translate}}</i>
								</span>
								<div class="clearfix"></div>
							</div>
						</a>
					</div>

					<div data-ng-show="vm.active.value == 'Running'" class="panel panel-red">
						<a data-ng-click="vm.parar()">
							<div class="panel-footer">
								<span class="pull-left"></span>
								<span class="pull-right">
									<i class="fa fa-arrow-circle-right"> {{'estadisticas.parar' | translate}}</i>
								</span>
								<div class="clearfix"></div>
							</div>
						</a>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="cabecera col-md-3">
		<div class="panel panel-green">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-12">
						<strong>{{'estadisticas.totalMobileUsers' | translate}}</strong><span class="pull-right">{{vm.totalMUsers.valueL}}</span>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<strong>{{'estadisticas.activeUsers' | translate}}</strong><span class="pull-right">{{vm.numberActiveUsers.valueL}}</span>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<strong>{{'estadisticas.totalWebUsers' | translate}}</strong><span class="pull-right">{{vm.totalWebUsers.valueL}}</span>
					</div>
				</div>
			</div>
			<div>
				<div class="panel-footer">
					<span data-ui-sref="userManager" class="pull-left">{{'estadisticas.viewDetails' | translate}}</span> <span
						class="pull-right"><i class="fa"> <!--  -->
					</i></span>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="cabecera col-md-3">
		<div class="panel panel-yellow">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-12">
						<strong>{{'estadisticas.locations' | translate}}</strong><span class="pull-right">{{vm.totalL.valueL}}</span>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<strong>{{'estadisticas.measurements' | translate}}</strong><span class="pull-right">{{vm.totalM.valueL}}</span>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<strong>{{'estadisticas.dataSections' | translate}}</strong> <span class="pull-right">{{vm.totalDS.valueL}}</span>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<strong>{{'estadisticas.driverFeatures' | translate}}</strong> <span class="pull-right">{{vm.totalDF.valueL}}</span>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<span class="pull-left">{{'estadisticas.viewDetails' | translate}}</span> <span class="pull-right"><i
					class="fa"> <!--  -->
				</i></span>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="cabecera col-md-3">
		<div class="panel panel-red">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-12">
						<strong>{{'estadisticas.stepsData' | translate}}</strong><span class="pull-right">{{vm.totalSTD.valueL}}</span>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<strong>{{'estadisticas.sleepData' | translate}}</strong><span class="pull-right">{{vm.totalSLD.valueL}}</span>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<strong>{{'estadisticas.heartRateData' | translate}}</strong><span class="pull-right">{{vm.totalHRD.valueL}}</span>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<strong>{{'estadisticas.contextData' | translate}}</strong><span class="pull-right">{{vm.totalCD.valueL}}</span>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<span class="pull-left">{{'estadisticas.viewDetails' | translate}}</span> <span class="pull-right"><i
					class="fa"> <!--  -->
				</i></span>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
