<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" data-role="navigation"
	style="margin-bottom: 0">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse"
			data-target=".navbar-collapse">
			<span class="sr-only">{{'menu.toggleNavigation' | translate}}</span> <span class="icon-bar">
				<!--  -->
			</span> <span class="icon-bar">
				<!--  -->
			</span> <span class="icon-bar">
				<!--  -->
			</span>
		</button>

		<a class="navbar-brand" data-ui-sref="dashboard">{{'menu.hermesManager' | translate}}</a>
	</div>
	<!-- /.navbar-header -->

	<ul class="nav navbar-top-links navbar-right">
		<li data-ng-if="user" class="dropdown"><a class="dropdown-toggle"
			data-toggle="dropdown"> <i class="fa fa-user fa-fw">
					<!--  -->
			</i> <i class="fa fa-caret-down">
					<!--  -->
			</i>
		</a>
			<ul class="dropdown-menu dropdown-user">
				<li><a data-ui-sref="userProfile"><i class="fa fa-user fa-fw">
							<!--  -->
					</i> {{'menu.perfilUsuario' | translate}}</a></li>
				<li data-ng-if="hasRole('ROLE_ADMIN')"><a data-ui-sref="settings"><i class="fa fa-gear fa-fw">
							<!--  -->
					</i> {{'menu.ajustes' | translate}}</a></li>
				<li><a data-ui-sref="changePassword"><i class="fa fa-pencil-square-o fa-fw">
							<!--  -->
					</i> {{'menu.cambiarContrasena' | translate}}</a></li>
				<li class="divider">
					<!--  -->
				</li>
				<li><a data-ng-click="logout()"><i class="fa fa-sign-out fa-fw">
							<!--  -->
					</i> {{'menu.logout' | translate}}</a></li>
			</ul> <!-- /.dropdown-user --></li>

	</ul>
	<!-- /.navbar-top-links -->

	<div class="navbar-default sidebar" data-role="navigation">
		<div class="sidebar-nav navbar-collapse">
			<ul class="nav in" id="side-menu">
				<li data-ng-if="hasRole('ROLE_ADMIN') || hasRole('ROLE_CONSULTA')">
					<a data-ui-sref="dashboard"> <i class="fa fa-dashboard fa-fw">
							<!--  -->
					</i> <span>{{'menu.dashboard' | translate}}</span>
				</a>
				</li>
				<li data-ng-if="hasRole('ROLE_ADMIN') || hasRole('ROLE_CONSULTA')">
					<a data-ui-sref="eventManager"> <i class="fa fa-bar-chart-o fa-fw">
							<!--  -->
						</i> <span> {{'menu.eventManager' | translate}}</span>
					</a>
				</li>


				<li data-ng-if="hasRole('ROLE_ADMIN')">
					<!--  --> <a data-ui-sref="userManager"> <i
						class="fa fa-wrench fa-fw">
							<!--  -->
					</i> <span>{{'menu.userManager' | translate}}</span>
				</a>
				</li>

				<li data-ng-if="hasRole('ROLE_ADMIN') || hasRole('ROLE_CONSULTA')">
					<a data-ui-sref="dataServices"> <i class="fa fa-bar-chart-o fa-fw">
							<!--  -->
					</i> <span>{{'menu.dataServices' | translate}}</span>
				</a>
				</li>

				<li data-ng-if="hasRole('ROLE_ADMIN')">
					<!--  --> <a data-ui-sref="systemLogs"> <i
						class="fa fa-wrench fa-fw">
							<!--  -->
					</i> <span>{{'menu.systemLogs' | translate}}</span>
				</a>
				</li>

				<li data-ng-if="hasRole('ROLE_ADMIN') || hasRole('ROLE_CONSULTA')">
					<!--  --> <a data-ui-sref="smartdriver"> <i
						class="fa fa-wrench fa-fw">
							<!--  -->
					</i> <span>{{'menu.smartdriver' | translate}}</span>
				</a>
				</li>
				
				<li data-ng-if="hasRole('ROLE_ADMIN') || hasRole('ROLE_CONSULTA')">
					<a data-ui-sref="sensorData"> <i class="fa fa-bar-chart-o fa-fw">
							<!--  -->
						</i> <span> {{'menu.sensorData' | translate}}</span>
					</a>
				</li>

			</ul>
		</div>
		<!-- /.sidebar-collapse -->
	</div>
	<!-- /.navbar-static-side -->
</nav>