/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

html {
	width: 1004px;
	height: 100%;
	margin: auto auto 0;
	background: lightgrey;
}

select#estudos {
	text-transform: capitalize;
}

body {
	min-width: 900px;
	text-align: center;
	min-height: 100%;
}

.header {
	height: 60px;
	padding-top: 20px;

	span {
		font-size: 24px;
	}
}

.view {
	width: 974px;
	margin: auto;

	.subtitulo {
		margin-top: 0px;
	}

	.benvida {
		margin-top: 100px;
		margin-bottom: 100px;
	}

	.titulo {
		font-size: 20px;
		margin-bottom: 20px;
	}

	.titulo-col {
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 16px;
		font-weight: 700;
	}

	.formulario {
		.identificador {
			position: relative;
		  	left: 740px;
			width: 160px;
			font-weight: 700;
			height: 50px;
			font-size: 24px;

			@media screen and (max-width: 768px) {
				position: relative;
				left: 0px;
				right: 0px;
				width: 100%;
				margin-bottom: 15px;
			}
		}

		input[type=radio], input[type=checkbox] {
			display: inline-block;
			height: 20px;
			width: 20px;
			margin: 0px;
		}

		.checkbox-label {
			vertical-align: 4px;
			margin-right: 20px;
		}

		.salto-col {
			height: 34px;
			margin-bottom: 15px;
		}

		.info {
			margin-top: 20px;
			margin-bottom: 5px;
			font-size: 12px;
		}

		button[type=submit] {
			margin-bottom: 20px;
		}
	}

	.mapa {
		.mapa-container {
			width: 590px;
		}

		.botones-container {
			width: 400px;
			padding: 0px;
		}

		.audicion-container {
			margin-top: 10px;
			margin-bottom: 20px;

			.id-audicion {
				font-weight: 700;
				font-size: 16px;
				margin-right: 15px;
			}

			.btn {
				min-width: 90px;
				margin-right: 3px;
			}

		}

		.mensaje-debuxa {
			margin: 50px 10px 30px 10px;
			font-size: 16px;
		}
	}

	.cuestionario {
		margin: auto;
		text-align: left;
		width: 60%;
		// min-width: 700px;


		label {
			margin-bottom: 4px;
		}

		input[type=radio], input[type=checkbox] {
			display: inline-block;
			height: 20px;
			width: 20px;
			// margin: 0px;
		}

		.checkbox-label {
			vertical-align: 4px;
			margin-right: 20px;
		}

		select.form-control {
			// margin: auto;
			// width: initial;
		}

		.pregunta {
			margin-bottom: 20px;
			padding: 5px;
			// border-bottom: 1px solid lightgrey;
			// border-top: 1px solid lightgrey;
		}

		button[type=submit] {
			margin-top: 20px;
			margin-bottom: 20px;
		}

		textarea { 
			max-width: 100%;
		}

		.form-control {
			margin-top: 5px;
		}

	}

	.botones {
		button {
			margin-right: 10px;
		}
	}
}

.leaflet-control-layers-toggle, .leaflet-control-zoom {
	display: none;
}

svg.tracer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2001;
    pointer-events: none;
}

.mode-create {
    cursor: crosshair;

    div.polygon-elbow {
	    opacity: 1;
	    pointer-events: all;
	}
}

.mode-edit div.polygon-elbow {
    opacity: 1;
    pointer-events: all;
}

.leaflet-container {
    background: #a6bddb;
    border: 1px solid black;
}

