 <div class="row">
              <div ng-show="vm.active.value == 'Stopped'" class="cabecera col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="glyphicon glyphicon-play fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">Start</div>
                                </div>
                            </div>
                        </div>
                       
                        <a ng-click="vm.arrancar()">
                            <div class="panel-footer">
                                <span class="pull-left"></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
               <div ng-show="vm.active.value == 'Running'" class="cabecera col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="glyphicon glyphicon-pause fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">Stop</div>
                                </div>
                            </div>
                        </div>
           
                        <a ng-click="vm.parar()">
                            <div class="panel-footer">
                                <span class="pull-left"></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                
                <div class="cabecera col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                     <div>Smart Driver statistics</div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cabecera col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                     <div>Smart Citizen statistics</div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="cabecera col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                     <div>Future</div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<div class="col-lg-9">

	 <div>
	  <canvas id="line" class="chart chart-line" chart-data="vm.data"
		  chart-labels="vm.labels" chart-legend="true" chart-series="vm.series"
		  chart-click="vm.onClick" >
		</canvas> 
    </div>
</div>
	 <div class="col-lg-3">
			 <div class="slide-animate" ng-include="'./partials/filtros.html'"></div>
     </div>   
    