<!DOCTYPE html>
<html ng-app="app">
  <head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Dashboard</title>
	
	<!-- bower:css -->
	<!-- endbower -->

    <!-- inject:css -->
    <!-- endinject -->
	
			<!-- Estilos no incluidos con inject y están en bower -->	
	
			<!-- Bootstrap Core CSS -->
			<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

			<!-- MetisMenu CSS -->
			<link href="bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

			<!-- Morris Charts CSS -->
			<link href="bower_components/morrisjs/morris.css" rel="stylesheet">

			<!-- Custom Fonts -->
			<link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
			
			<!-- Date picker -->
			<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
			
			<link rel="stylesheet" href="bower_components/angular-bootstrap-datetimepicker/src/css/datetimepicker.css"/>
			
			<!-- Marker cluster -->
			<link rel="StyleSheet" href="bower_components/leaflet.markercluster/dist/MarkerCluster.css" type="text/css" media="all"/>
				
			<link rel="StyleSheet" href="bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css" type="text/css" media="all"/>
   
  </head>
  <body>
  
     <div id="wrapper">

	        <!-- Navigation -->
	        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"><!--  --></span>
	                    <span class="icon-bar"><!--  --></span>
	                    <span class="icon-bar"><!--  --></span>
	                </button>
	                
	                <a class="navbar-brand" ui-sref="eventManager" >Hermes Manager</a>
	            </div>
	            <!-- /.navbar-header -->
	
	            <ul class="nav navbar-top-links navbar-right">
	                <li ng-if="user" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user fa-fw"><!--  --></i>  <i class="fa fa-caret-down"><!--  --></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"><!--  --></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"><!--  --></i> Settings</a>
                        </li>
                        <li class="divider"><!--  --></li>
                        <li><a ng-click="logout()"><i class="fa fa-sign-out fa-fw"><!--  --></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
	                
	            </ul>
	            <!-- /.navbar-top-links -->
	
	            <div class="navbar-default sidebar" role="navigation">
	                <div class="sidebar-nav navbar-collapse">
	                    <ul class="nav in" id="side-menu"> 	                        
	                       <li ng-if="hasRole('ROLE_ADMIN') || hasRole('ROLE_CONSULTA')"><!--  -->	
	                            <a ui-sref="dashboard" >
		                            <i class="fa fa-dashboard fa-fw"><!--  --></i>
		                            <span>Dashboard</span>
	                            </a>
	                        </li>	                     
	                         <li ng-if="hasRole('ROLE_ADMIN')"><!--  -->
	                             <a ui-sref="eventManager" >
		                            <i class="fa fa-bar-chart-o fa-fw"><!--  --></i>
		                            <span> Event Manager</span>
	                            </a>
	                        </li>
	                        
	                   
		                   <li ng-if="hasRole('ROLE_ADMIN')"><!--  -->	
		                            <a ui-sref="userManager">
			                            <i class="fa fa-wrench fa-fw"><!--  --></i>
			                            <span>User Manager</span>
		                            </a>
	                       </li>
	                        
	                       <li ng-if="hasRole('ROLE_ADMIN')"><!--  -->
		                           <a href="#">
			                            <i class="fa fa-edit fa-fw"><!--  --></i>
			                            <span>Data Services</span>
		                            </a>
	                       </li>
	                        
	                        
	                        
	                    </ul>
	                </div>
	                <!-- /.sidebar-collapse -->
	            </div>
	            <!-- /.navbar-static-side -->
	        </nav>
			
	         <div id="page-wrapper"> <!-- TODO no sé porque al anadirle esta parte deja de funcionar el desplegable ?¿ FALTA por revisar -->
		         
		        <!-- <div class="row">  
		                <div class="col-lg-12"> 
		                    <h1 class="page-header">Dashboard</h1>
		                </div>
		    	</div> -->
		    	<div id="contido" class="row">
	
			      <div class="view" ui-view=""><!-- --></div>
				</div>
	            <!-- /.row -->
	        </div>
	        <!-- /#page-wrapper -->

    </div>

	 <!-- bower:js -->
	 <!-- endbower -->
	 
     <!-- inject:js -->    
    <!-- endinject -->
	
	<!-- JS no incluidos con inject y están en bower  o en node_modules-->	
	 <script src="bower_components/leaflet.markercluster/dist/leaflet.markercluster-src.js"></script>
	 
	<!-- Date picker -->
	<script type="text/javascript" src="bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
	<!-- TODO no sé porque no me lo está incluyendo solo-->
	
  </body>
</html>
