<div data-ng-if="!vm.events.length">{{'dataSection.noEvents' | translate}}</div>
<div class="table-responsive">
	<table data-ng-if="vm.events.length" class="table table-hover"
			data-dt-options="vm.dtOptions" data-datatable="" >
		<thead>
			<tr>
				<th>{{'dataSection.userId' | translate}}</th>
				<th>{{'dataSection.date' | translate}}</th>
				<th>{{'dataSection.time' | translate}}</th>
				<th>{{'dataSection.minimimSpeed' | translate}}</th>
				<th>{{'dataSection.maximumSpeed' | translate}}</th>
				<th>{{'dataSection.medianSpeed' | translate}}</th>
				<th>{{'dataSection.averageSpeed' | translate}}</th>
				<th>{{'dataSection.stdDevSpeed' | translate}}</th>
				<th>{{'dataSection.averageAcceleration' | translate}}</th>
				<th>{{'dataSection.averageDeceleration' | translate}}n</th>
				<th>{{'dataSection.highAcceleration' | translate}}</th>
				<th>{{'dataSection.highDecceleration' | translate}}</th>
				<th>{{'dataSection.averageHeartRate' | translate}}</th>
				<th>{{'dataSection.stdDevHeartRate' | translate}}</th>
			</tr>
		</thead>

		<tbody>
			<tr data-ng-repeat="dataSection in vm.events track by $index">
				<td>{{dataSection.usuarioMovil.id}}</td>
				<td>{{dataSection.timestamp | date : format:timezone}}</td>
				<td>{{dataSection.timestamp | date :'shortTime'}}</td>
				<td>{{dataSection.minSpeed}}</td>
				<td>{{dataSection.maxSpeed}}</td>
				<td>{{dataSection.medianSpeed}}</td>
				<td>{{dataSection.averageSpeed}}</td>
				<td>{{dataSection.standardDeviationSpeed}}</td>
				<td>{{dataSection.averageAcceleration}}</td>
				<td>{{dataSection.averageDeceleration}}</td>
				<td>{{dataSection.numHighAccelerations}}</td>
				<td>{{dataSection.numHighDecelerations}}</td>
				<td>{{dataSection.averageHeartRate}}</td>
				<td>{{dataSection.standardDeviationHeartRate}}</td>
			</tr>
		</tbody>

	</table>
</div>