<div class="slide-animate" data-ng-include="'./partials/estadisticas.html'"></div>

<div class="row">
	<div class="col-md-9">
		<div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa glyphicon fa-fw"></i>
					
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div google-chart chart="vm.chart"    agc-on-select="vm.seriesSelected(selectedItem)" style="width:100%;"></div>	
				</div>
				<div class="chartLegend" ng-if="vm.chart.data.rows.length">
					<label><input type="checkbox" ng-model="vm.chartAxis.ejeX" ng-change="vm.seriesSelected(1)">Eje X </label>
					<label><input type="checkbox" ng-model="vm.chartAxis.ejeY" ng-change="vm.seriesSelected(2)">Eje Y </label>
					<label><input type="checkbox" ng-model="vm.chartAxis.ejeZ" ng-change="vm.seriesSelected(3)">Eje Z </label>
					<!-- /.panel-body -->
				</div>
			</div>
		</div>
	</div>
	<div class="cabeceraFiltro col-md-3">
		<div class="slide-animate" data-ng-include="'./partials/sensorData/filtros.html'"></div>
	</div>
</div>
