<div class="slide-animate" data-ng-include="'./partials/estadisticas.html'"></div>

<div class="row">
	<div class="col-md-9">
		<div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa glyphicon fa-fw"></i>
					
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div google-chart chart="vm.chart" style=" width:100%;"></div>	
				</div>
				<div class="panel-body">
					<div google-chart chart="vm.chartLine" style=" width:100%;"></div>	
				</div>
				<!-- /.panel-body -->
			</div>
		</div>
	</div>
	<div class="cabeceraFiltro col-md-3">
		<div class="slide-animate" data-ng-include="'./partials/sensorData/filtros.html'"></div>
	</div>
</div>
