@import url("pestanas.css");
@import url("tablas.css");
/*@import url("../jquery-ui.min.css");*/

/* Leaftlet 
@import url("../leaflet.css");*/

/*listado entidades*/
td.enum, th.enum{
	width:100px;
}

 td.data, th.data{
	width:90px;
}

 td.dataLonga, th.dataLonga{
	width:180px;
}

/* Taboa de tramos 
table.tramos td {
	vertical-align: top;
	padding-left: 9px;
	padding-top: 6px;
	padding-bottom: 9px;
}


table.horizontal th{
	text-align: right;
}

table {
	border: 1px solid #A5C8EE;
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

td.celda, td.celda div, td.celda div.campoFicha div.valor{
	text-align: center;
}

table.auxiliares, table.personas {
	table-layout: auto;
}

table thead th, table tr.cabecera th{
	padding: 2px 0px;
}

table tr.borde th{
	border: 1px solid #A5C8EE;
}

.infoRejillaHoras{
	margin-top: 5px; 
	font-size: 11px;
}

th {
	background-color: #82AEDC;
	color: white;
}

th.acciones{
	width: 55px;
}

th a.Ascendente, th a.Descendente{
	text-decoration:none;
}

th.fecha,td.fecha{
	width: 80px;
}

th.check,td.check{
	width: 90px;
}

th.checkCorto,td.checkCorto{
	width: 75px;
}
th.num, td.num{
	width: 90px;
}

th.numCorto, td.numCorto{
	width: 70px;
}

th.enum, td.enum{
	width: 150px;
}

th.enumLarga{
	width: 220px;
}

td {
	border: 1px solid silver;
}

td.icono {
	text-align: center;
}

td.numero, th.numero {
	text-align: right;
	padding-right: 5px;
}
td.categoriaver{
	text-align: right;
}

td.categoriaver a{
	text-decoration: none;
}
*/
/* Taboas alternable 

fieldset table.alternable {
	margin: 10px;
	width: 98%;
}


 
#calendarioHoras {
	background-color: white;
}

#calendarioHoras .datetimepicker .table td, #calendarioHoras .datetimepicker .table th {
  border-radius: 0px;
}
*/

#map{
	height:750px;
	width: 100%;
}

#selectUsers{
	width: 100%;
}

#selectEvent{
	width: 100%;
}


#btnFilter{
	margin: 14px 18px;
}

.cabecera{
	margin: 13px 0 0 0px;
}

.cabeceraFiltro{
	 margin-top: 31px;
}

.margin-top-20 {
	margin-top: 20px;
}

#iconoAnadir{
	float: right;
  	top:6px;
  	margin-left: 8px;
}

.buscador{
	float: right;
   padding: 2px 0 0px 19px;
}
 
#buscadorMasIcono{
	height: 20px;
    margin-top: 17px;
    clear: both;
}

/* Página de Login */

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 115px;;
    padding: 26px 0 8px;
    background-color: #f8f8f8;
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

/* submenu */

ol.submenu {
	margin-bottom: 15px;
}

ol.submenu li  {
	display: inline;
}

ol.submenu li.activo a,ol.submenu li.activo span {
	font-weight: bold;
	text-decoration: none;
}
