<div class="col-xs-12">
	<div>
		<label for="singleSelect">{{'smartdriver.types' | translate}}</label><br />
		<!-- Filtro type -->
		<select id="selectType" class="form-control" data-ng-model="vm.typeSelected" 
			data-ng-options="type as type for type in vm.types" required>
			<option value="">{{'smartdriver.selectType' | translate}}</option>
		</select>
	</div>
	
	<div data-ng-show="vm.typeSelected === 'DATA_SECTION'">
		<label for="singleSelect">{{'smartdriver.datasection' | translate}}</label><br />
		<!-- Filtro type -->
		<select id="selectDataSection" class="form-control" data-ng-model="vm.dataSectionSelected" 
			data-ng-options="datasection as datasection for datasection in vm.dataSections">
			<option value="">{{'smartdriver.selectDataSection' | translate}}</option>
		</select>
	</div>
	
	<div>
		<label for="singleSelect">{{'smartdriver.day' | translate}}</label><br />
		<select id="selectDay" class="form-control" data-ng-model="vm.daySelected">
			<option value="">{{'smartdriver.selectDay' | translate}}</option>
			<option value="1">{{'smartdriver.lunes' | translate}}</option>
      		<option value="2">{{'smartdriver.martes' | translate}}</option>
      		<option value="3">{{'smartdriver.miercoles' | translate}}</option>
      		<option value="4">{{'smartdriver.jueves' | translate}}</option>
      		<option value="5">{{'smartdriver.viernes' | translate}}</option>
      		<option value="6">{{'smartdriver.sabado' | translate}}</option>
      		<option value="0">{{'smartdriver.domingo' | translate}}</option>
		</select>
	</div>
	
	<div>
		<label for="singleSelect">{{'smartdriver.time' | translate}}</label><br />
		<select id="selectTime" class="form-control" data-ng-model="vm.timeSelected" data-ng-options="hour for hour in vm.hours" required>
			<option value="">{{'smartdriver.selectTime' | translate}}</option>
		</select>
	</div>
	
</div>