<div class="slide-animate" data-ng-include="'./partials/estadisticas.html'"></div>


<div class="row">

	<div class="col-md-9" >
					    			
		<div data-ng-show="vm.errorPoint" class="alert alert-danger alert-dismissable">
			<button type="button" class="close" data-ng-click="vm.errorPoint = false" data-aria-hidden="true">&times;</button>
			{{vm.mensajeErrorPoint}}
		</div>
		
	</div>
	    
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading" data-ng-show="vm.methodSelected === 'COMPUTE_ROUTE'">
				<i class="fa glyphicon fa-fw"></i>
				<div class="pull-left">
					<span class="glyphicon glyphicon-eye-open"></span>
					<div class="btn-group">
						<button type="button"
							class="btn btn-default btn-xs dropdown-toggle"
							data-toggle="dropdown">
							{{vm.activeInput}} <span class="caret"></span>
						</button>
						<ul id="overAnything" class="dropdown-menu pull-right"
							data-role="menu">
							<li data-ng-click="vm.mostrarMapa()">
								<a>{{'smartdriver.mapa'| translate}}</a>
							</li>
							<li data-ng-click="vm.mostrarTabla()">
								<a>{{'smartdriver.tabla'| translate}}</a>
							</li>
						</ul>
					</div>
				</div>
				<div data-ng-if="vm.showAdmin" class="pull-right">
					<!--  -->
					<span class="glyphicon"></span>
				</div>
			</div>

			<div class="panel-body">
				<div data-ng-show="vm.showMap">
					<div id="map"></div>
				</div>
				<div data-ng-show="vm.showTab && vm.methodSelected === 'COMPUTE_ROUTE'">
					<div data-ng-include="vm.tabla"></div>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="cabeceraFiltro col-md-3">
		<div class="slide-animate" data-ng-include="'./partials/smartdriver/filtros.html'"></div>
		<div class="slide-animate" data-ng-if="vm.methodSelected !== 'COMPUTE_ROUTE'" 
			data-ng-include="'./partials/smartdriver/resultados.html'"></div>
	</div>
</div>
	