<div data-ng-if="!vm.events.length">{{'systemLogs.noEvents' | translate}}</div>
<div class="table-responsive">
	<table data-ng-if="vm.events.length" class="table table-hover"
			data-dt-options="vm.dtOptions" data-datatable="ng" >
		<thead>
			<tr>
				<th>{{'systemLogs.idLog' | translate}}</th>
				<th>{{'systemLogs.dated' | translate}}</th>
				<th>{{'systemLogs.message' | translate}}</th>
				<th style="width:20px;"></th>
			</tr>
		</thead>

		<tbody>
			<tr data-ng-repeat="log in vm.events track by $index">
				<td>{{log.id}}</td>
				<td>{{log.dated | date : "dd/MM/yyyy HH:mm:ss"}}</td>
				<td>{{log.message}}</td>
				<td style="width:20px;">
					<a data-ng-click="vm.deleteLog(log)">
						<i class="fa fa-remove"><!--  --></i> 
						{{'delete' | translate}}
					</a>
				</td>
			</tr>
		</tbody>

	</table>
</div>