<div class="modal-header">
    <h3>{{'importShapefiles.titulo' | translate}}</h3>
</div>

<form name="vm.shapefileForm" novalidate>

	<div data-ng-if="vm.infoAction" data-ng-class="{'top-buffer pull-center alert alert-info' : vm.infoAction.type === 'info', 'alert alert-danger' : vm.infoAction.type === 'error'}" data-role="alert">
		{{vm.infoAction.value}}
	</div>	
	
    <div class="modal-body">
    	<!-- DB CONNECTION -->
  		<div class="form-group">
  			<label>{{'importShapefiles.dbconnection' | translate}}</label>
  			<select id="dbconnection" name="dbconnection" data-ng-model="vm.dbconnection" class="form-control"
					data-ng-options="dbconnection.id as dbconnection.name for dbconnection in vm.dbconnections" 
					data-ng-change="vm.validarDbConnection()" required>
			</select>
			<p data-ng-show="vm.errorConnection" class="avisoError">{{'importShapefiles.dbConnectionRequired' | translate}}</p>
  		</div>
  		
  		<!-- DB CONCEPT -->
  		<div class="form-group">
  			<label>{{'importShapefiles.dbconcept' | translate}}</label>
  			<select id="dbconcept" name="dbconcept" data-ng-model="vm.dbconcept" class="form-control"
					data-ng-options="dbconcept.id as dbconcept.name for dbconcept in vm.dbconcepts"
					data-ng-change="vm.validarDbConcept()">
			</select>
			<p data-ng-show="vm.errorConcept" class="avisoError">{{'importShapefiles.selectDbConcept' | translate}}</p>
  		</div>
  		
  		<!-- CHECK crear table -->
  		<div class="form-group">
  			<label>
  				<input type="checkbox" data-ng-model="vm.table" name="table" id="table"
  				data-ng-change="vm.createTable()">
  				{{'importShapefiles.createTable' | translate}}
  			</label>
  			
  			<input type="text" class="form-control" id="tableName" name="tableName" data-ng-model="vm.tableName" >
  		</div>
  		
  		<!-- Input File -->
  		<div class="form-group">
  		    <label class="control-label">{{'importShapefiles.selectFile' | translate}}</label>
    		<input id="filezip" name="filezip" type="file" class="file"  
    		data-fileread="vm.filezip" accept=".zip" required>
    		<p data-ng-show="vm.errorFilezip" class="avisoError">{{'importShapefiles.fileRequired' | translate}}</p>
  		</div>
     </div>
     
    <div class="modal-footer">
        <button class="btn btn-primary" data-ng-click="vm.submitForm()">{{'importShapefiles.import' | translate}}</button>
    </div>
</form>