<div class="col-lg-12">

	<div class="top-buffer">
		{{'job.create' | translate}}
		<button class="btn btn-danger" data-ng-click="vm.add()">
			<i class="fa fa-plus"></i>
		</button>
	</div>
	
	<div data-ng-if="vm.infoAction" class="top-buffer pull-center alert alert-info" data-role="alert">
		{{vm.infoAction.value}}
	</div>
	
	<div class="table-responsive top-buffer">
			
		<table id="tableId" data-ng-show="vm.jobs.length" class="table table-hover" data-datatable="" 
				data-dt-options="vm.dtOptions" data-dt-columns="vm.dtColumns" data-dt-instance="vm.dtInstanceCallback">
		</table>
	</div>

</div>