<div class="col-xs-12">
	<ul class="list-unstyled">
		<li>
			<strong>{{'hermesServices.linkId' | translate}}</strong> {{vm.result.linkId}} 
		</li>
		<li> 
			<strong>{{'hermesServices.maxSpeed' | translate}}</strong> {{vm.result.maxSpeed}} 
		</li>
		<li> 
			<strong>{{'hermesServices.linkName' | translate}}</strong> {{vm.result.linkName}} 
		</li>
		<li>
			<strong>{{'hermesServices.linkType' | translate}}</strong> {{vm.result.linkType}} 
		</li>
		<li>
			<strong>{{'hermesServices.length' | translate}}</strong> {{vm.result.length}} 
		</li>
		<li>
			<strong>{{'hermesServices.position' | translate}}</strong> {{vm.result.position}} 
		</li>
		<li>
			<strong>{{'hermesServices.previousposition' | translate}}</strong> {{vm.result.previousPosition}} 
		</li>
		<li>
			<strong>{{'hermesServices.direction' | translate}}</strong> {{vm.result.direction}} 	
		</li>
	</ul>
</div>