<div class="col-xs-12">
	<ul class="list-unstyled">
		<li>
			<strong>{{'hermesServices.numberOfValues' | translate}}</strong> {{vm.result.numberOfValues}}
		</li>
		<li>
			<strong>{{'hermesServices.maximium' | translate}}</strong> {{vm.result.max | number:2}}
		</li>
		<li>
			<strong>{{'hermesServices.minimium' | translate}}</strong> {{vm.result.min | number:2}}
		</li>
		<li>
			<strong>{{'hermesServices.average' | translate}}</strong> {{vm.result.average | number:2}}
		</li>
		<li>
			<strong>{{'hermesServices.standardDeviation' |translate}}</strong> {{vm.result.standardDeviation | number:2}}
		</li>
	</ul>
</div>