.menu {
	height: 26px;
	overflow: hidden;
	background-color: #5bb0e6;
	padding-left: 5px;
}

.menu li{
    float:left;
	padding: 0px 4px;
}

.menu a {
	border: medium none;
    color: #FFFFFF;
    display: block;
    font-family:"Open Sans",sans-serif;
    font-size: 13px;
    line-height: 26px;
    padding: 0 25px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.menu li.activa a {
	color: #00679e;	
}

.menu li.activa a, .menu a:hover{
	color: #00679e;
	background-color: #ffffff;	
}

.menu li ul {
	padding-bottom: 5px;
}

.menu ul {
	line-height: normal;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.menu li.activa {
	font-weight: bold;
	background-color: #ffffff;
}

.menu li.activa li {
	font-weight: normal;
}

/* Barra del menú*/
.menuBarra{
	padding-left: 25px;
}
/* Submenú ================================================================== */

.submenu {
	padding: 4px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
	font-size: 1.2em;
	color: #0D3D68;
}

.submenu .activo {
	font-weight: bold;
}

.submenu .activo a:focus {
	text-decoration: none;
}

/* Menu derecho */
.menuDerecha #listaMisOpciones{
	float:right;
}
.menuDerecha li{
	height:35px;
	padding-top:7px;
}

.menuDerecha li.activa{
	background-color: #fe910d;
}

.menuDerecha li.activa a, .menuDerecha a:hover{
	border-radius: 5px;

}

.menuDerecha a{
	height:25px; 
	font-weight:bold;
}


.menuDerecha{
	float:right;
	margin-top:-30px;
	height:35px;
	border:2px solid white;
	background-color: #fe910d;
	border-radius: 2px 15px 2px 15px;
	padding-right:10px;
}


