/* Estilos para as táboas da aplicación*/
table.horizontal th {
	text-align: right;
}

table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

table th {
	background-color: #999;
	color: white;
}

th.acciones {
	text-align: center;
	width: 60px;
}

td {
	border: 1px solid #999;
}

td.acciones img {
	margin-right: 5px;
}

td.icono {
	text-align: center;
}

td.categoriaver {
	text-align: right;
}

td.categoriaver a {
	text-decoration: none;
}
 
/****** Estilos para as táboas de clase "table" sobreescribindo estilos de bootstrap *****/
.table {
	border: 1px solid #ddd;
}
 
.table > thead > tr > th, .table > tr > th {
	background-color: #5bb0e6;
}

.tablaInterna > thead > tr > th, .tablaInterna > tr > th {
	background-color: 5bb0e6;
}


.table > thead > tr > th.acciones, .table > tr > th.acciones {
	width: 60px;
}

.table td {
	border: 0;
}

.table td:hover {
	cursor: pointer;
}

.table tr {
	background-color: #fff;	
}

.table tr:hover {
	background-color: #dfdfdf;
}
.table{
	margin-bottom:5px;
}

.tablaBasica > tbody > tr > td, .tablaBasica > tbody > tr > th, 
.tablaBasica > tfoot > tr > td, .tablaBasica > tfoot > tr > th, 
.tablaBasica > thead > tr > td, .tablaBasica > thead > tr > th{
	padding: 6px;
 	line-height: 1.3;	
}

/******* Estilos táboas con cores alternables ********/
.alternable>tbody>tr>td {
	padding: 6px;
}

.alternable>tbody>tr:nth-child(2n+1) {
	background-color: #f1f1f1;
}

.alternable>tbody>tr:nth-child(2n) {
	background-color: #fafafa;
}

.alternable>tbody>tr:nth-child(2n):hover, .alternable>tbody>tr:nth-child(2n+1):hover
	{
	background-color: #fdfdfd;
}

/******* Estilos tabla con filas-enlace ********/


.tablaEnlaces>tbody>tr>td>a {
	display: block; height: 100%; width:100%;
	cursor:normal;
	text-decoration: none !important;	
	padding:6px;
}

.tablaEnlaces>tbody>tr>td {
	padding: 0px !important;
}

/************ Estilos de táboas internas *************/

tr.trInterno {
	background-color: #f1f1f1; 
}


/**** Tamaños de columna personalizados ****/
.w3p  { width: 3%;}
.w4p  { width: 4%;}
.w5p  { width: 5%;}
.w6p  { width: 6%;}
.w7p  { width: 7%;}
.w8p  { width: 8%;}
.w9p  { width: 9%;}
.w10p { width: 10%;}
.w12p { width: 12%;}
.w15p { width: 15%;}
.w17p { width: 17%;}
.w20p { width: 20%;}
.w25p { width: 25%;}
.w41p { width: 41%;}

