<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hermessensorcollector.lbd.udc.es.hermessensorcollector">

    <!-- Permiso para el gps -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- Permiso para obtener email del usuario -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Permiso para guardar en disco el json y el zip a enviar al servidor -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Permiso para bloquear la pantalla -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Permiso para poder tener acceso a internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="hermessensorcollector.lbd.udc.es.hermessensorcollector.applicationcontext.ApplicationContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity"></activity>
    </application>

</manifest>